data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
mlruns/
mlartifacts/
mlflow.db
models/
*.pkl
*.joblib
*.parquet
*.csv
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.env
.venv/
venv/
*.egg-info/

